@media only screen and (max-width:770px){
    #header {
        background: none;
        height: 75vh;
    }
    .container {
        margin-left: 50px;
        margin-right: 50px;
    }
    .logo {
        margin-top: 27px;
        width: 70px;
    }
    .header-text {
        margin-top: 100px;
    }
    h1 {
        font-size: 25px;
    }
    #menuBtn {
        width: 40px;
        right: 50px;
    }
    .common-btn {
        padding: 10px 16px;
    }
    .social-icons img {
        width: 14px;
        margin: 15px auto;
    }
    .about-left-col,.about-right-col {
        flex-basis: 100%;
    }
    .about-text {
        margin: 50px 50px 0;
        display: inline-block;
    }
    .about-text p {
        text-align: justify;
    }
    .about-text h2 {
        font-size: 18px;
    }
    .features-col {
        flex-basis: 100%;
        margin-bottom: 20px;
    }
    #courses {
        padding: 50px 0;
    }
    .courses-right-col {
        flex-basis: 100%;
        margin-top: 70px;
    }
    .courses-left-col {
        flex-basis: 100%;
    }
    .contact-left-col,.contact-right-col {
        flex-basis: 100%;
    }
    .contact-right-col {
        margin-top: 50px;
    }
    .footer-left-col,.footer-right-col {
        flex-basis: 100%;
    }
    .links-title {
        flex-basis: 50%;
        margin-top: 50px;
    }
}